*.DS_Store
.gradle
.gradle-user
.settings
.project
.classpath
build
out
run
bin
logs
.github/builds/node_modules
.github/moderation/node_modules
website-concepts/
*.iws
*.ipr
*.iml
.idea/*
!.idea/copyright/*
!.idea/scopes/*
